ul{ 
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(59, 144, 255);
    float: right;

}

li a{ 
    display: block;
    padding: 40px 80px;
    color: #ffffff;
    text-decoration: none;
}
li a:hover{ 
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0)

}
h1 {
    text-align: center
    
}
.active { 
    background-color: rgb(1, 98, 184);
    color:blue;
  
}
ul{
    border:1px 
}
body{ 
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dreamstime.com%2Fphotos-images%2Fbasketball-court.html&psig=AOvVaw05fMyN_34hrMh24W7vCROP&ust=1637398178123000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCOisodiFpPQCFQAAAAAdAAAAABAE)
}
 